<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{url}}favicon.ico" />
  {% seo %}
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/stylesheet.css' | absolute_url }}?v={{ site.time | date: '%s' }}">
  
  <!-- SCRIPTS -->
  <script src="{{ '/assets/js/jquery.min.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/lz-string.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/script.js' | absolute_url }}?v={{ site.time | date: '%s' }}" defer></script>

</head>
