<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{url}}favicon.ico" />
  {% seo %}
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{url}}assets/css/stylesheet.css?v={{site.time|date:'%s'}}">
  
  <!-- SCRIPTS -->
  <script src="{{url}}assets/js/jquery.min.js"></script>
  <script src="{{url}}assets/js/lz-string.js"></script>
  <script src="{{url}}assets/js/script.js?v={{site.time|date:'%s'}}" defer></script>

</head>
<body>