\:root, .mode-light
  --fg:                 #{$black}
  --bg:                 #{$white}
  --grey:               #{$grey-light}
  --accent:             #{nth(nth($accents-light, 1), 2)}
  // Alerts
  --success-border:     #{map-get(map-get($alerts, success), light)}
  --success-fg:         #{map-get(map-get($alerts, success), dark)}
  --info-border:        #{map-get(map-get($alerts, info), light)}
  --info-fg:            #{map-get(map-get($alerts, info), dark)}
  --warning-border:     #{map-get(map-get($alerts, warning), light)}
  --warning-fg:         #{map-get(map-get($alerts, warning), dark)}
  --danger-border:      #{map-get(map-get($alerts, danger), light)}
  --danger-fg:          #{map-get(map-get($alerts, danger), dark)}
  @each $type, $accent in $accents-light
    &.#{$type}
      --accent:         #{$accent}

.mode-dark
  --fg:                 #{$white}
  --bg:                 #{$black}
  --grey:               #{$grey-dark}
  --accent:             #{nth(nth($accents-dark, 1), 2)}
  // Alerts
  --success-border:     #{map-get(map-get($alerts, success), dark)}
  --success-fg:         #{map-get(map-get($alerts, success), light)}
  --info-border:        #{map-get(map-get($alerts, info), dark)}
  --info-fg:            #{map-get(map-get($alerts, info), light)}
  --warning-border:     #{map-get(map-get($alerts, warning), dark)}
  --warning-fg:         #{map-get(map-get($alerts, warning), light)}
  --danger-border:      #{map-get(map-get($alerts, danger), dark)}
  --danger-fg:          #{map-get(map-get($alerts, danger), light)}
  @each $type, $accent in $accents-dark
    &.#{$type}
      --accent:         #{$accent}
