[class*="highlight"] .hll { background-color: #ffffcc }
[class*="highlight"]  { background: #ffffff; }
[class*="highlight"] .c { font-style: italic } /* Comment */
[class*="highlight"] .err { border: 1px solid #FF0000 } /* Error */
[class*="highlight"] .k { font-weight: bold } /* Keyword */
[class*="highlight"] .ch { font-style: italic } /* Comment.Hashbang */
[class*="highlight"] .cm { font-style: italic } /* Comment.Multiline */
[class*="highlight"] .cpf { font-style: italic } /* Comment.PreprocFile */
[class*="highlight"] .c1 { font-style: italic } /* Comment.Single */
[class*="highlight"] .cs { font-style: italic } /* Comment.Special */
[class*="highlight"] .ge { font-style: italic } /* Generic.Emph */
[class*="highlight"] .gh { font-weight: bold } /* Generic.Heading */
[class*="highlight"] .gp { font-weight: bold } /* Generic.Prompt */
[class*="highlight"] .gs { font-weight: bold } /* Generic.Strong */
[class*="highlight"] .gu { font-weight: bold } /* Generic.Subheading */
[class*="highlight"] .kc { font-weight: bold } /* Keyword.Constant */
[class*="highlight"] .kd { font-weight: bold } /* Keyword.Declaration */
[class*="highlight"] .kn { font-weight: bold } /* Keyword.Namespace */
[class*="highlight"] .kr { font-weight: bold } /* Keyword.Reserved */
[class*="highlight"] .s { font-style: italic } /* Literal.String */
[class*="highlight"] .nc { font-weight: bold } /* Name.Class */
[class*="highlight"] .ni { font-weight: bold } /* Name.Entity */
[class*="highlight"] .ne { font-weight: bold } /* Name.Exception */
[class*="highlight"] .nn { font-weight: bold } /* Name.Namespace */
[class*="highlight"] .nt { font-weight: bold } /* Name.Tag */
[class*="highlight"] .ow { font-weight: bold } /* Operator.Word */
[class*="highlight"] .sa { font-style: italic } /* Literal.String.Affix */
[class*="highlight"] .sb { font-style: italic } /* Literal.String.Backtick */
[class*="highlight"] .sc { font-style: italic } /* Literal.String.Char */
[class*="highlight"] .dl { font-style: italic } /* Literal.String.Delimiter */
[class*="highlight"] .sd { font-style: italic } /* Literal.String.Doc */
[class*="highlight"] .s2 { font-style: italic } /* Literal.String.Double */
[class*="highlight"] .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
[class*="highlight"] .sh { font-style: italic } /* Literal.String.Heredoc */
[class*="highlight"] .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
[class*="highlight"] .sx { font-style: italic } /* Literal.String.Other */
[class*="highlight"] .sr { font-style: italic } /* Literal.String.Regex */
[class*="highlight"] .s1 { font-style: italic } /* Literal.String.Single */
[class*="highlight"] .ss { font-style: italic } /* Literal.String.Symbol */
