[class*="highlight"] .hll { background-color: #ffffcc }
[class*="highlight"]  { background: #f8f8f8; }
[class*="highlight"] .c { color: #008800; font-style: italic } /* Comment */
[class*="highlight"] .err { border: 1px solid #FF0000 } /* Error */
[class*="highlight"] .k { color: #AA22FF; font-weight: bold } /* Keyword */
[class*="highlight"] .o { color: #666666 } /* Operator */
[class*="highlight"] .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
[class*="highlight"] .cm { color: #008800; font-style: italic } /* Comment.Multiline */
[class*="highlight"] .cp { color: #008800 } /* Comment.Preproc */
[class*="highlight"] .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
[class*="highlight"] .c1 { color: #008800; font-style: italic } /* Comment.Single */
[class*="highlight"] .cs { color: #008800; font-weight: bold } /* Comment.Special */
[class*="highlight"] .gd { color: #A00000 } /* Generic.Deleted */
[class*="highlight"] .ge { font-style: italic } /* Generic.Emph */
[class*="highlight"] .gr { color: #FF0000 } /* Generic.Error */
[class*="highlight"] .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[class*="highlight"] .gi { color: #00A000 } /* Generic.Inserted */
[class*="highlight"] .go { color: #888888 } /* Generic.Output */
[class*="highlight"] .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
[class*="highlight"] .gs { font-weight: bold } /* Generic.Strong */
[class*="highlight"] .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[class*="highlight"] .gt { color: #0044DD } /* Generic.Traceback */
[class*="highlight"] .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
[class*="highlight"] .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
[class*="highlight"] .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
[class*="highlight"] .kp { color: #AA22FF } /* Keyword.Pseudo */
[class*="highlight"] .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
[class*="highlight"] .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
[class*="highlight"] .m { color: #666666 } /* Literal.Number */
[class*="highlight"] .s { color: #BB4444 } /* Literal.String */
[class*="highlight"] .na { color: #BB4444 } /* Name.Attribute */
[class*="highlight"] .nb { color: #AA22FF } /* Name.Builtin */
[class*="highlight"] .nc { color: #0000FF } /* Name.Class */
[class*="highlight"] .no { color: #880000 } /* Name.Constant */
[class*="highlight"] .nd { color: #AA22FF } /* Name.Decorator */
[class*="highlight"] .ni { color: #999999; font-weight: bold } /* Name.Entity */
[class*="highlight"] .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
[class*="highlight"] .nf { color: #00A000 } /* Name.Function */
[class*="highlight"] .nl { color: #A0A000 } /* Name.Label */
[class*="highlight"] .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
[class*="highlight"] .nt { color: #008000; font-weight: bold } /* Name.Tag */
[class*="highlight"] .nv { color: #B8860B } /* Name.Variable */
[class*="highlight"] .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
[class*="highlight"] .w { color: #bbbbbb } /* Text.Whitespace */
[class*="highlight"] .mb { color: #666666 } /* Literal.Number.Bin */
[class*="highlight"] .mf { color: #666666 } /* Literal.Number.Float */
[class*="highlight"] .mh { color: #666666 } /* Literal.Number.Hex */
[class*="highlight"] .mi { color: #666666 } /* Literal.Number.Integer */
[class*="highlight"] .mo { color: #666666 } /* Literal.Number.Oct */
[class*="highlight"] .sa { color: #BB4444 } /* Literal.String.Affix */
[class*="highlight"] .sb { color: #BB4444 } /* Literal.String.Backtick */
[class*="highlight"] .sc { color: #BB4444 } /* Literal.String.Char */
[class*="highlight"] .dl { color: #BB4444 } /* Literal.String.Delimiter */
[class*="highlight"] .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
[class*="highlight"] .s2 { color: #BB4444 } /* Literal.String.Double */
[class*="highlight"] .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
[class*="highlight"] .sh { color: #BB4444 } /* Literal.String.Heredoc */
[class*="highlight"] .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
[class*="highlight"] .sx { color: #008000 } /* Literal.String.Other */
[class*="highlight"] .sr { color: #BB6688 } /* Literal.String.Regex */
[class*="highlight"] .s1 { color: #BB4444 } /* Literal.String.Single */
[class*="highlight"] .ss { color: #B8860B } /* Literal.String.Symbol */
[class*="highlight"] .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
[class*="highlight"] .fm { color: #00A000 } /* Name.Function.Magic */
[class*="highlight"] .vc { color: #B8860B } /* Name.Variable.Class */
[class*="highlight"] .vg { color: #B8860B } /* Name.Variable.Global */
[class*="highlight"] .vi { color: #B8860B } /* Name.Variable.Instance */
[class*="highlight"] .vm { color: #B8860B } /* Name.Variable.Magic */
[class*="highlight"] .il { color: #666666 } /* Literal.Number.Integer.Long */
