[class*="highlight"] .hll { background-color: #ffffcc }
[class*="highlight"]  { background: #1e1e27; color: #cfbfad }
[class*="highlight"] .c { color: #cd8b00 } /* Comment */
[class*="highlight"] .err { color: #ffffff; background-color: #6e2e2e } /* Error */
[class*="highlight"] .k { color: #808bed } /* Keyword */
[class*="highlight"] .n { color: #cfbfad } /* Name */
[class*="highlight"] .o { color: #666666 } /* Operator */
[class*="highlight"] .x { color: #cfbfad } /* Other */
[class*="highlight"] .p { color: #cfbfad } /* Punctuation */
[class*="highlight"] .ch { color: #cd8b00 } /* Comment.Hashbang */
[class*="highlight"] .cm { color: #cd8b00 } /* Comment.Multiline */
[class*="highlight"] .cp { color: #409090 } /* Comment.Preproc */
[class*="highlight"] .cpf { color: #ffcd8b; background-color: #404040 } /* Comment.PreprocFile */
[class*="highlight"] .c1 { color: #cd8b00 } /* Comment.Single */
[class*="highlight"] .cs { color: #808bed } /* Comment.Special */
[class*="highlight"] .gd { color: #A00000 } /* Generic.Deleted */
[class*="highlight"] .ge { font-style: italic } /* Generic.Emph */
[class*="highlight"] .gr { color: #FF0000 } /* Generic.Error */
[class*="highlight"] .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[class*="highlight"] .gi { color: #00A000 } /* Generic.Inserted */
[class*="highlight"] .go { color: #888888 } /* Generic.Output */
[class*="highlight"] .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
[class*="highlight"] .gs { font-weight: bold } /* Generic.Strong */
[class*="highlight"] .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[class*="highlight"] .gt { color: #0044DD } /* Generic.Traceback */
[class*="highlight"] .kc { color: #808bed } /* Keyword.Constant */
[class*="highlight"] .kd { color: #808bed } /* Keyword.Declaration */
[class*="highlight"] .kn { color: #808bed } /* Keyword.Namespace */
[class*="highlight"] .kp { color: #808bed } /* Keyword.Pseudo */
[class*="highlight"] .kr { color: #808bed } /* Keyword.Reserved */
[class*="highlight"] .kt { color: #ff8bff } /* Keyword.Type */
[class*="highlight"] .m { color: #f0ad6d } /* Literal.Number */
[class*="highlight"] .s { color: #ffcd8b; background-color: #404040 } /* Literal.String */
[class*="highlight"] .na { color: #cfbfad } /* Name.Attribute */
[class*="highlight"] .nb { color: #808bed } /* Name.Builtin */
[class*="highlight"] .nc { color: #ff8bff } /* Name.Class */
[class*="highlight"] .no { color: #409090 } /* Name.Constant */
[class*="highlight"] .nd { color: #409090 } /* Name.Decorator */
[class*="highlight"] .ni { color: #cfbfad } /* Name.Entity */
[class*="highlight"] .ne { color: #ff0000 } /* Name.Exception */
[class*="highlight"] .nf { color: #c080d0 } /* Name.Function */
[class*="highlight"] .nl { color: #808bed } /* Name.Label */
[class*="highlight"] .nn { color: #ff0000 } /* Name.Namespace */
[class*="highlight"] .nx { color: #cfbfad } /* Name.Other */
[class*="highlight"] .py { color: #cfbfad } /* Name.Property */
[class*="highlight"] .nt { color: #cfbfad } /* Name.Tag */
[class*="highlight"] .nv { color: #cfbfad } /* Name.Variable */
[class*="highlight"] .ow { color: #666666 } /* Operator.Word */
[class*="highlight"] .w { color: #434357 } /* Text.Whitespace */
[class*="highlight"] .mb { color: #f0ad6d } /* Literal.Number.Bin */
[class*="highlight"] .mf { color: #f0ad6d } /* Literal.Number.Float */
[class*="highlight"] .mh { color: #f0ad6d } /* Literal.Number.Hex */
[class*="highlight"] .mi { color: #f0ad6d } /* Literal.Number.Integer */
[class*="highlight"] .mo { color: #f0ad6d } /* Literal.Number.Oct */
[class*="highlight"] .sa { color: #ffcd8b; background-color: #404040 } /* Literal.String.Affix */
[class*="highlight"] .sb { color: #ffcd8b; background-color: #404040 } /* Literal.String.Backtick */
[class*="highlight"] .sc { color: #ffcd8b; background-color: #404040 } /* Literal.String.Char */
[class*="highlight"] .dl { color: #ffcd8b; background-color: #404040 } /* Literal.String.Delimiter */
[class*="highlight"] .sd { color: #808bed; background-color: #404040 } /* Literal.String.Doc */
[class*="highlight"] .s2 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Double */
[class*="highlight"] .se { color: #ffcd8b; background-color: #404040 } /* Literal.String.Escape */
[class*="highlight"] .sh { color: #ffcd8b; background-color: #404040 } /* Literal.String.Heredoc */
[class*="highlight"] .si { color: #ffcd8b; background-color: #404040 } /* Literal.String.Interpol */
[class*="highlight"] .sx { color: #ffcd8b; background-color: #404040 } /* Literal.String.Other */
[class*="highlight"] .sr { color: #ffcd8b; background-color: #404040 } /* Literal.String.Regex */
[class*="highlight"] .s1 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Single */
[class*="highlight"] .ss { color: #ffcd8b; background-color: #404040 } /* Literal.String.Symbol */
[class*="highlight"] .bp { color: #ffff00 } /* Name.Builtin.Pseudo */
[class*="highlight"] .fm { color: #c080d0 } /* Name.Function.Magic */
[class*="highlight"] .vc { color: #cfbfad } /* Name.Variable.Class */
[class*="highlight"] .vg { color: #cfbfad } /* Name.Variable.Global */
[class*="highlight"] .vi { color: #cfbfad } /* Name.Variable.Instance */
[class*="highlight"] .vm { color: #cfbfad } /* Name.Variable.Magic */
[class*="highlight"] .il { color: #f0ad6d } /* Literal.Number.Integer.Long */
