[class*="highlight"] .hll { background-color: #ffffcc }
[class*="highlight"]  { background: #ffffff; }
[class*="highlight"] .c { color: #666666; font-style: italic } /* Comment */
[class*="highlight"] .err { color: #FF0000; background-color: #FFAAAA } /* Error */
[class*="highlight"] .k { color: #228899; font-weight: bold } /* Keyword */
[class*="highlight"] .o { color: #333333 } /* Operator */
[class*="highlight"] .ch { color: #666666; font-style: italic } /* Comment.Hashbang */
[class*="highlight"] .cm { color: #666666; font-style: italic } /* Comment.Multiline */
[class*="highlight"] .cp { color: #557799 } /* Comment.Preproc */
[class*="highlight"] .cpf { color: #666666; font-style: italic } /* Comment.PreprocFile */
[class*="highlight"] .c1 { color: #666666; font-style: italic } /* Comment.Single */
[class*="highlight"] .cs { color: #cc0000; font-weight: bold; font-style: italic } /* Comment.Special */
[class*="highlight"] .gd { color: #A00000 } /* Generic.Deleted */
[class*="highlight"] .ge { font-style: italic } /* Generic.Emph */
[class*="highlight"] .gr { color: #FF0000 } /* Generic.Error */
[class*="highlight"] .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[class*="highlight"] .gi { color: #00A000 } /* Generic.Inserted */
[class*="highlight"] .go { color: #888888 } /* Generic.Output */
[class*="highlight"] .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
[class*="highlight"] .gs { font-weight: bold } /* Generic.Strong */
[class*="highlight"] .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[class*="highlight"] .gt { color: #0044DD } /* Generic.Traceback */
[class*="highlight"] .kc { color: #228899; font-weight: bold } /* Keyword.Constant */
[class*="highlight"] .kd { color: #228899; font-weight: bold } /* Keyword.Declaration */
[class*="highlight"] .kn { color: #228899; font-weight: bold } /* Keyword.Namespace */
[class*="highlight"] .kp { color: #0088ff; font-weight: bold } /* Keyword.Pseudo */
[class*="highlight"] .kr { color: #228899; font-weight: bold } /* Keyword.Reserved */
[class*="highlight"] .kt { color: #6666ff; font-weight: bold } /* Keyword.Type */
[class*="highlight"] .m { color: #6600EE; font-weight: bold } /* Literal.Number */
[class*="highlight"] .s { background-color: #e0e0ff } /* Literal.String */
[class*="highlight"] .na { color: #000077 } /* Name.Attribute */
[class*="highlight"] .nb { color: #007722 } /* Name.Builtin */
[class*="highlight"] .nc { color: #ee99ee; font-weight: bold } /* Name.Class */
[class*="highlight"] .no { color: #55eedd; font-weight: bold } /* Name.Constant */
[class*="highlight"] .nd { color: #555555; font-weight: bold } /* Name.Decorator */
[class*="highlight"] .ni { color: #880000 } /* Name.Entity */
[class*="highlight"] .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
[class*="highlight"] .nf { color: #55eedd; font-weight: bold } /* Name.Function */
[class*="highlight"] .nl { color: #997700; font-weight: bold } /* Name.Label */
[class*="highlight"] .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
[class*="highlight"] .nt { color: #007700 } /* Name.Tag */
[class*="highlight"] .nv { color: #003366 } /* Name.Variable */
[class*="highlight"] .ow { color: #000000; font-weight: bold } /* Operator.Word */
[class*="highlight"] .w { color: #bbbbbb } /* Text.Whitespace */
[class*="highlight"] .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
[class*="highlight"] .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
[class*="highlight"] .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
[class*="highlight"] .mi { color: #6666ff; font-weight: bold } /* Literal.Number.Integer */
[class*="highlight"] .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
[class*="highlight"] .sa { background-color: #e0e0ff } /* Literal.String.Affix */
[class*="highlight"] .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
[class*="highlight"] .sc { color: #8888FF } /* Literal.String.Char */
[class*="highlight"] .dl { background-color: #e0e0ff } /* Literal.String.Delimiter */
[class*="highlight"] .sd { color: #DD4422 } /* Literal.String.Doc */
[class*="highlight"] .s2 { background-color: #e0e0ff } /* Literal.String.Double */
[class*="highlight"] .se { color: #666666; font-weight: bold; background-color: #e0e0ff } /* Literal.String.Escape */
[class*="highlight"] .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
[class*="highlight"] .si { background-color: #eeeeee } /* Literal.String.Interpol */
[class*="highlight"] .sx { color: #ff8888; background-color: #e0e0ff } /* Literal.String.Other */
[class*="highlight"] .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
[class*="highlight"] .s1 { background-color: #e0e0ff } /* Literal.String.Single */
[class*="highlight"] .ss { color: #ffcc88 } /* Literal.String.Symbol */
[class*="highlight"] .bp { color: #007722 } /* Name.Builtin.Pseudo */
[class*="highlight"] .fm { color: #55eedd; font-weight: bold } /* Name.Function.Magic */
[class*="highlight"] .vc { color: #ccccff } /* Name.Variable.Class */
[class*="highlight"] .vg { color: #ff8844 } /* Name.Variable.Global */
[class*="highlight"] .vi { color: #aaaaff } /* Name.Variable.Instance */
[class*="highlight"] .vm { color: #003366 } /* Name.Variable.Magic */
[class*="highlight"] .il { color: #6666ff; font-weight: bold } /* Literal.Number.Integer.Long */
