[class*="highlight"] .hll { background-color: #4f424c }
[class*="highlight"]  { background: #2f1e2e; color: #e7e9db }
[class*="highlight"] .c { color: #776e71 } /* Comment */
[class*="highlight"] .err { color: #ef6155 } /* Error */
[class*="highlight"] .k { color: #815ba4 } /* Keyword */
[class*="highlight"] .l { color: #f99b15 } /* Literal */
[class*="highlight"] .n { color: #e7e9db } /* Name */
[class*="highlight"] .o { color: #5bc4bf } /* Operator */
[class*="highlight"] .p { color: #e7e9db } /* Punctuation */
[class*="highlight"] .ch { color: #776e71 } /* Comment.Hashbang */
[class*="highlight"] .cm { color: #776e71 } /* Comment.Multiline */
[class*="highlight"] .cp { color: #776e71 } /* Comment.Preproc */
[class*="highlight"] .cpf { color: #776e71 } /* Comment.PreprocFile */
[class*="highlight"] .c1 { color: #776e71 } /* Comment.Single */
[class*="highlight"] .cs { color: #776e71 } /* Comment.Special */
[class*="highlight"] .gd { color: #ef6155 } /* Generic.Deleted */
[class*="highlight"] .ge { font-style: italic } /* Generic.Emph */
[class*="highlight"] .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
[class*="highlight"] .gi { color: #48b685 } /* Generic.Inserted */
[class*="highlight"] .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
[class*="highlight"] .gs { font-weight: bold } /* Generic.Strong */
[class*="highlight"] .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
[class*="highlight"] .kc { color: #815ba4 } /* Keyword.Constant */
[class*="highlight"] .kd { color: #815ba4 } /* Keyword.Declaration */
[class*="highlight"] .kn { color: #5bc4bf } /* Keyword.Namespace */
[class*="highlight"] .kp { color: #815ba4 } /* Keyword.Pseudo */
[class*="highlight"] .kr { color: #815ba4 } /* Keyword.Reserved */
[class*="highlight"] .kt { color: #fec418 } /* Keyword.Type */
[class*="highlight"] .ld { color: #48b685 } /* Literal.Date */
[class*="highlight"] .m { color: #f99b15 } /* Literal.Number */
[class*="highlight"] .s { color: #48b685 } /* Literal.String */
[class*="highlight"] .na { color: #06b6ef } /* Name.Attribute */
[class*="highlight"] .nb { color: #e7e9db } /* Name.Builtin */
[class*="highlight"] .nc { color: #fec418 } /* Name.Class */
[class*="highlight"] .no { color: #ef6155 } /* Name.Constant */
[class*="highlight"] .nd { color: #5bc4bf } /* Name.Decorator */
[class*="highlight"] .ni { color: #e7e9db } /* Name.Entity */
[class*="highlight"] .ne { color: #ef6155 } /* Name.Exception */
[class*="highlight"] .nf { color: #06b6ef } /* Name.Function */
[class*="highlight"] .nl { color: #e7e9db } /* Name.Label */
[class*="highlight"] .nn { color: #fec418 } /* Name.Namespace */
[class*="highlight"] .nx { color: #06b6ef } /* Name.Other */
[class*="highlight"] .py { color: #e7e9db } /* Name.Property */
[class*="highlight"] .nt { color: #5bc4bf } /* Name.Tag */
[class*="highlight"] .nv { color: #ef6155 } /* Name.Variable */
[class*="highlight"] .ow { color: #5bc4bf } /* Operator.Word */
[class*="highlight"] .w { color: #e7e9db } /* Text.Whitespace */
[class*="highlight"] .mb { color: #f99b15 } /* Literal.Number.Bin */
[class*="highlight"] .mf { color: #f99b15 } /* Literal.Number.Float */
[class*="highlight"] .mh { color: #f99b15 } /* Literal.Number.Hex */
[class*="highlight"] .mi { color: #f99b15 } /* Literal.Number.Integer */
[class*="highlight"] .mo { color: #f99b15 } /* Literal.Number.Oct */
[class*="highlight"] .sa { color: #48b685 } /* Literal.String.Affix */
[class*="highlight"] .sb { color: #48b685 } /* Literal.String.Backtick */
[class*="highlight"] .sc { color: #e7e9db } /* Literal.String.Char */
[class*="highlight"] .dl { color: #48b685 } /* Literal.String.Delimiter */
[class*="highlight"] .sd { color: #776e71 } /* Literal.String.Doc */
[class*="highlight"] .s2 { color: #48b685 } /* Literal.String.Double */
[class*="highlight"] .se { color: #f99b15 } /* Literal.String.Escape */
[class*="highlight"] .sh { color: #48b685 } /* Literal.String.Heredoc */
[class*="highlight"] .si { color: #f99b15 } /* Literal.String.Interpol */
[class*="highlight"] .sx { color: #48b685 } /* Literal.String.Other */
[class*="highlight"] .sr { color: #48b685 } /* Literal.String.Regex */
[class*="highlight"] .s1 { color: #48b685 } /* Literal.String.Single */
[class*="highlight"] .ss { color: #48b685 } /* Literal.String.Symbol */
[class*="highlight"] .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
[class*="highlight"] .fm { color: #06b6ef } /* Name.Function.Magic */
[class*="highlight"] .vc { color: #ef6155 } /* Name.Variable.Class */
[class*="highlight"] .vg { color: #ef6155 } /* Name.Variable.Global */
[class*="highlight"] .vi { color: #ef6155 } /* Name.Variable.Instance */
[class*="highlight"] .vm { color: #ef6155 } /* Name.Variable.Magic */
[class*="highlight"] .il { color: #f99b15 } /* Literal.Number.Integer.Long */
