[class*="highlight"] .hll { background-color: #ffffcc }
[class*="highlight"]  { background: #eeeedd; }
[class*="highlight"] .c { color: #228B22 } /* Comment */
[class*="highlight"] .err { color: #a61717; background-color: #e3d2d2 } /* Error */
[class*="highlight"] .k { color: #8B008B; font-weight: bold } /* Keyword */
[class*="highlight"] .ch { color: #228B22 } /* Comment.Hashbang */
[class*="highlight"] .cm { color: #228B22 } /* Comment.Multiline */
[class*="highlight"] .cp { color: #1e889b } /* Comment.Preproc */
[class*="highlight"] .cpf { color: #228B22 } /* Comment.PreprocFile */
[class*="highlight"] .c1 { color: #228B22 } /* Comment.Single */
[class*="highlight"] .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
[class*="highlight"] .gd { color: #aa0000 } /* Generic.Deleted */
[class*="highlight"] .ge { font-style: italic } /* Generic.Emph */
[class*="highlight"] .gr { color: #aa0000 } /* Generic.Error */
[class*="highlight"] .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[class*="highlight"] .gi { color: #00aa00 } /* Generic.Inserted */
[class*="highlight"] .go { color: #888888 } /* Generic.Output */
[class*="highlight"] .gp { color: #555555 } /* Generic.Prompt */
[class*="highlight"] .gs { font-weight: bold } /* Generic.Strong */
[class*="highlight"] .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[class*="highlight"] .gt { color: #aa0000 } /* Generic.Traceback */
[class*="highlight"] .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
[class*="highlight"] .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
[class*="highlight"] .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
[class*="highlight"] .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
[class*="highlight"] .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
[class*="highlight"] .kt { color: #00688B; font-weight: bold } /* Keyword.Type */
[class*="highlight"] .m { color: #B452CD } /* Literal.Number */
[class*="highlight"] .s { color: #CD5555 } /* Literal.String */
[class*="highlight"] .na { color: #658b00 } /* Name.Attribute */
[class*="highlight"] .nb { color: #658b00 } /* Name.Builtin */
[class*="highlight"] .nc { color: #008b45; font-weight: bold } /* Name.Class */
[class*="highlight"] .no { color: #00688B } /* Name.Constant */
[class*="highlight"] .nd { color: #707a7c } /* Name.Decorator */
[class*="highlight"] .ne { color: #008b45; font-weight: bold } /* Name.Exception */
[class*="highlight"] .nf { color: #008b45 } /* Name.Function */
[class*="highlight"] .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
[class*="highlight"] .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
[class*="highlight"] .nv { color: #00688B } /* Name.Variable */
[class*="highlight"] .ow { color: #8B008B } /* Operator.Word */
[class*="highlight"] .w { color: #bbbbbb } /* Text.Whitespace */
[class*="highlight"] .mb { color: #B452CD } /* Literal.Number.Bin */
[class*="highlight"] .mf { color: #B452CD } /* Literal.Number.Float */
[class*="highlight"] .mh { color: #B452CD } /* Literal.Number.Hex */
[class*="highlight"] .mi { color: #B452CD } /* Literal.Number.Integer */
[class*="highlight"] .mo { color: #B452CD } /* Literal.Number.Oct */
[class*="highlight"] .sa { color: #CD5555 } /* Literal.String.Affix */
[class*="highlight"] .sb { color: #CD5555 } /* Literal.String.Backtick */
[class*="highlight"] .sc { color: #CD5555 } /* Literal.String.Char */
[class*="highlight"] .dl { color: #CD5555 } /* Literal.String.Delimiter */
[class*="highlight"] .sd { color: #CD5555 } /* Literal.String.Doc */
[class*="highlight"] .s2 { color: #CD5555 } /* Literal.String.Double */
[class*="highlight"] .se { color: #CD5555 } /* Literal.String.Escape */
[class*="highlight"] .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
[class*="highlight"] .si { color: #CD5555 } /* Literal.String.Interpol */
[class*="highlight"] .sx { color: #cb6c20 } /* Literal.String.Other */
[class*="highlight"] .sr { color: #1c7e71 } /* Literal.String.Regex */
[class*="highlight"] .s1 { color: #CD5555 } /* Literal.String.Single */
[class*="highlight"] .ss { color: #CD5555 } /* Literal.String.Symbol */
[class*="highlight"] .bp { color: #658b00 } /* Name.Builtin.Pseudo */
[class*="highlight"] .fm { color: #008b45 } /* Name.Function.Magic */
[class*="highlight"] .vc { color: #00688B } /* Name.Variable.Class */
[class*="highlight"] .vg { color: #00688B } /* Name.Variable.Global */
[class*="highlight"] .vi { color: #00688B } /* Name.Variable.Instance */
[class*="highlight"] .vm { color: #00688B } /* Name.Variable.Magic */
[class*="highlight"] .il { color: #B452CD } /* Literal.Number.Integer.Long */
