[class*="highlight"] .hll { background-color: #49483e }
[class*="highlight"]  { background: #232629; color: #cccccc }
[class*="highlight"] .c { color: #777777; font-style: italic } /* Comment */
[class*="highlight"] .err { color: #a61717; background-color: #e3d2d2 } /* Error */
[class*="highlight"] .k { color: #7686bb; font-weight: bold } /* Keyword */
[class*="highlight"] .ch { color: #777777; font-style: italic } /* Comment.Hashbang */
[class*="highlight"] .cm { color: #777777; font-style: italic } /* Comment.Multiline */
[class*="highlight"] .cp { color: #777777; font-style: italic } /* Comment.Preproc */
[class*="highlight"] .cpf { color: #777777; font-style: italic } /* Comment.PreprocFile */
[class*="highlight"] .c1 { color: #777777; font-style: italic } /* Comment.Single */
[class*="highlight"] .cs { color: #777777; font-style: italic } /* Comment.Special */
[class*="highlight"] .gp { color: #ffffff } /* Generic.Prompt */
[class*="highlight"] .kc { color: #7686bb; font-weight: bold } /* Keyword.Constant */
[class*="highlight"] .kd { color: #7686bb; font-weight: bold } /* Keyword.Declaration */
[class*="highlight"] .kn { color: #7686bb; font-weight: bold } /* Keyword.Namespace */
[class*="highlight"] .kp { color: #7686bb; font-weight: bold } /* Keyword.Pseudo */
[class*="highlight"] .kr { color: #7686bb; font-weight: bold } /* Keyword.Reserved */
[class*="highlight"] .kt { color: #7686bb; font-weight: bold } /* Keyword.Type */
[class*="highlight"] .m { color: #4FB8CC } /* Literal.Number */
[class*="highlight"] .s { color: #51cc99 } /* Literal.String */
[class*="highlight"] .nf { color: #6a6aff } /* Name.Function */
[class*="highlight"] .nx { color: #e2828e } /* Name.Other */
[class*="highlight"] .nv { color: #7AB4DB; font-weight: bold } /* Name.Variable */
[class*="highlight"] .w { color: #bbbbbb } /* Text.Whitespace */
[class*="highlight"] .mb { color: #4FB8CC } /* Literal.Number.Bin */
[class*="highlight"] .mf { color: #4FB8CC } /* Literal.Number.Float */
[class*="highlight"] .mh { color: #4FB8CC } /* Literal.Number.Hex */
[class*="highlight"] .mi { color: #4FB8CC } /* Literal.Number.Integer */
[class*="highlight"] .mo { color: #4FB8CC } /* Literal.Number.Oct */
[class*="highlight"] .sa { color: #51cc99 } /* Literal.String.Affix */
[class*="highlight"] .sb { color: #51cc99 } /* Literal.String.Backtick */
[class*="highlight"] .sc { color: #51cc99 } /* Literal.String.Char */
[class*="highlight"] .dl { color: #51cc99 } /* Literal.String.Delimiter */
[class*="highlight"] .sd { color: #51cc99 } /* Literal.String.Doc */
[class*="highlight"] .s2 { color: #51cc99 } /* Literal.String.Double */
[class*="highlight"] .se { color: #51cc99 } /* Literal.String.Escape */
[class*="highlight"] .sh { color: #51cc99 } /* Literal.String.Heredoc */
[class*="highlight"] .si { color: #51cc99 } /* Literal.String.Interpol */
[class*="highlight"] .sx { color: #51cc99 } /* Literal.String.Other */
[class*="highlight"] .sr { color: #51cc99 } /* Literal.String.Regex */
[class*="highlight"] .s1 { color: #51cc99 } /* Literal.String.Single */
[class*="highlight"] .ss { color: #51cc99 } /* Literal.String.Symbol */
[class*="highlight"] .fm { color: #6a6aff } /* Name.Function.Magic */
[class*="highlight"] .vc { color: #7AB4DB; font-weight: bold } /* Name.Variable.Class */
[class*="highlight"] .vg { color: #BE646C; font-weight: bold } /* Name.Variable.Global */
[class*="highlight"] .vi { color: #7AB4DB; font-weight: bold } /* Name.Variable.Instance */
[class*="highlight"] .vm { color: #7AB4DB; font-weight: bold } /* Name.Variable.Magic */
[class*="highlight"] .il { color: #4FB8CC } /* Literal.Number.Integer.Long */
