*
  box-sizing: border-box

html
  overflow-y: scroll

body
  margin: 0

template, [hidden]
  display: none !important

span
  display: inline

//
// HELPER CLASS
// --------------------------------------
.if-empty:not(:only-of-type)
  display: none