*
  box-sizing: border-box

html
  overflow-y: scroll

body
  margin: 0 auto
  max-width: $max-width

header, section, footer
  padding: 2rem calc((100% - #{$main-width}) / 2)

// Remove top and bottom margins of the first and last elements
header, section, footer, hgroup, form, blockquote
  & > *:first-child
    margin-top: 0
  & > *:last-child
    margin-bottom: 0

template, [hidden]
  display: none !important

blockquote
  border-radius: $border-radius
  margin: 1em 0
  padding: 1em