html, body
  background-color: var(--html-bg)
  color: var(--html-fg)

section
  background-color: var(--main-bg)

thead, tfoot
  background-color: var(--light-grey)
th, td
  border-color: var(--light-grey)

nav
  background-color: var(--nav-bg)
  ul li
    a, span
      &:hover
        background-color: var(--main-bg)
      &.active
        color: var(--html-fg)

a
  color: var(--link)
  &:hover
    border-color: var(--link)

header, footer
  color: var(--link)
  a
    color: var(--html-fg)
    &:hover
      border-color: var(--html-fg)

*
  scrollbar-color: var(--scrollbar)
  scrollbar-width: auto

#notification
  box-shadow: 0 0 5px black
  div
    background-color: DarkGreen
    &.error
      background-color: DarkRed
    &.info
      background-color: DarkBlue

form
  background-color: var(--form-bg)
  color: var(--form-fg)
  input:not([type=submit]):not([type=reset]):not([type=button]), textarea,
  input[type=color]::-moz-color-swatch, input[type=color]::-webkit-color-swatch
    border-color: var(--input-border)
  // background and foreground
  input:not([type=submit]):not([type=reset]):not([type=button]), textarea
    background: var(--input-bg)
    color: var(--input-fg)
  input:disabled, input[readonly], input::placeholder, small
    color: var(--input-fg-disabled)
  input[type=button][disabled], button[disabled]
    color: var(--button-fg-disabled)
  input:is([type=submit],[type="reset"],[type=button]), button
    color: var(--button-fg)

//
// SYNTAX
// --------------------------------------
// Overwrite background
[class*="highlight"], [class*="highlight"] .w
  background-color: var(--light-grey)