a
  text-decoration: none
  &:hover, &:active
    outline-width: 0
  &:active
    opacity: .5
  &.disabled
    // TODO
    background: red
  &[disabled]
    text-decoration: none
    pointer-events: none
    cursor: default
    color: unset