//
// Small screens
// --------------------------------------
@media (max-width: $mobile-width)
  
  // Reduce font size
  html
    font-size: $font-size*0.95

  //
  // Maximize width
  // --------------------------------------
  header, section, footer
    padding: 1rem

  //
  // Stack navigation and footer links
  // --------------------------------------
  nav
    display: block
    padding: 0
    li span.active
      background: var(--palette-3)
    ul, ul li ul
      display: block
      position: static
      padding: 0
      text-align: left
      li
        display: list-item
        ul
          padding-left: 2em
  footer
    ul, ul:last-child
      display: block
      text-align: left

  //
  // Stack grid
  // --------------------------------------  
  .grid
    display: block

  //
  // Asides
  // --------------------------------------

  // aside.float-left, aside.float-right
  //   float: none
  //   width: 100%
  //   padding-left: 0
  //   padding-right: 0
  //   margin-left: 0
  //   margin-right: 0