//
// Small screens
// --------------------------------------
@media (max-width: $mobile-width)
  
  // Reduce font size
  html
    font-size: $font-size*0.95

  //
  // Maximize width
  // --------------------------------------
  header, section, footer
    padding: 1rem

  //
  // Stack navigation links
  // --------------------------------------
  nav ul
    display: initial !important
    padding: 0 !important
    text-align: left !important
    li
      display: grid !important

  //
  // Lists
  // --------------------------------------
  ul
    padding-left: 2em

  //
  // Stack grid
  // --------------------------------------
  
  .grid
    display: block

  //
  // Asides
  // --------------------------------------

  // aside.float-left, aside.float-right
  //   float: none
  //   width: 100%
  //   padding-left: 0
  //   padding-right: 0
  //   margin-left: 0
  //   margin-right: 0