nav
  display: flex
  justify-content: space-between
  padding-left: calc((100% - #{$main-width}) / 2)
  padding-right: calc((100% - #{$main-width}) / 2)
  text-transform: uppercase
  font-weight: bold
  ul
    margin: 0
    padding-left: 0
    display: flex
    list-style: none
    li
      position: relative
      padding: 0
      a,
      span
        text-decoration: none
        padding: 0.6rem
        display: block
        width: 100%
      span
        cursor: default
      &:hover > ul
        display: initial
      // Dropdown
      ul
        padding-left: 0
        position: absolute
        display: none
        li
          display: flex
          align-items: center
          justify-content: flex-start