[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"], [class*="highlight"] .w {
  color: #49483e;
}
[class*="highlight"] .err {
  color: #272822;
  background-color: #f92672;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1, [class*="highlight"] .cs {
  color: #75715e;
}
[class*="highlight"] .cp {
  color: #f4bf75;
}
[class*="highlight"] .nt {
  color: #f4bf75;
}
[class*="highlight"] .o, [class*="highlight"] .ow {
  color: #f8f8f2;
}
[class*="highlight"] .p, [class*="highlight"] .pi {
  color: #f8f8f2;
}
[class*="highlight"] .gi {
  color: #a6e22e;
}
[class*="highlight"] .gd {
  color: #f92672;
}
[class*="highlight"] .gh {
  color: #66d9ef;
  background-color: #272822;
  font-weight: bold;
}
[class*="highlight"] .k, [class*="highlight"] .kn, [class*="highlight"] .kp, [class*="highlight"] .kr, [class*="highlight"] .kv {
  color: #ae81ff;
}
[class*="highlight"] .kc {
  color: #fd971f;
}
[class*="highlight"] .kt {
  color: #fd971f;
}
[class*="highlight"] .kd {
  color: #fd971f;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .sc, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .sx, [class*="highlight"] .s1 {
  color: #a6e22e;
}
[class*="highlight"] .sr {
  color: #a1efe4;
}
[class*="highlight"] .si {
  color: #cc6633;
}
[class*="highlight"] .se {
  color: #cc6633;
}
[class*="highlight"] .nn {
  color: #f4bf75;
}
[class*="highlight"] .nc {
  color: #f4bf75;
}
[class*="highlight"] .no {
  color: #f4bf75;
}
[class*="highlight"] .na {
  color: #66d9ef;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mf, [class*="highlight"] .mh, [class*="highlight"] .mi, [class*="highlight"] .il, [class*="highlight"] .mo, [class*="highlight"] .mx {
  color: #a6e22e;
}
[class*="highlight"] .ss {
  color: #a6e22e;
}
