[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"], [class*="highlight"] .w {
  color: #586e75;
}
[class*="highlight"] .err {
  color: #002b36;
  background-color: #dc322f;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1, [class*="highlight"] .cs {
  color: #657b83;
}
[class*="highlight"] .cp {
  color: #b58900;
}
[class*="highlight"] .nt {
  color: #b58900;
}
[class*="highlight"] .o, [class*="highlight"] .ow {
  color: #93a1a1;
}
[class*="highlight"] .p, [class*="highlight"] .pi {
  color: #93a1a1;
}
[class*="highlight"] .gi {
  color: #859900;
}
[class*="highlight"] .gd {
  color: #dc322f;
}
[class*="highlight"] .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
[class*="highlight"] .k, [class*="highlight"] .kn, [class*="highlight"] .kp, [class*="highlight"] .kr, [class*="highlight"] .kv {
  color: #6c71c4;
}
[class*="highlight"] .kc {
  color: #cb4b16;
}
[class*="highlight"] .kt {
  color: #cb4b16;
}
[class*="highlight"] .kd {
  color: #cb4b16;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .sc, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .sx, [class*="highlight"] .s1 {
  color: #859900;
}
[class*="highlight"] .sr {
  color: #2aa198;
}
[class*="highlight"] .si {
  color: #d33682;
}
[class*="highlight"] .se {
  color: #d33682;
}
[class*="highlight"] .nn {
  color: #b58900;
}
[class*="highlight"] .nc {
  color: #b58900;
}
[class*="highlight"] .no {
  color: #b58900;
}
[class*="highlight"] .na {
  color: #268bd2;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mf, [class*="highlight"] .mh, [class*="highlight"] .mi, [class*="highlight"] .il, [class*="highlight"] .mo, [class*="highlight"] .mx {
  color: #859900;
}
[class*="highlight"] .ss {
  color: #859900;
}
