[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"], [class*="highlight"] .w {
  color: #d0d0d0;
  background-color: #151515;
}
[class*="highlight"] .err {
  color: #151515;
  background-color: #ac4142;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1, [class*="highlight"] .cs {
  color: #505050;
}
[class*="highlight"] .cp {
  color: #f4bf75;
}
[class*="highlight"] .nt {
  color: #f4bf75;
}
[class*="highlight"] .o, [class*="highlight"] .ow {
  color: #d0d0d0;
}
[class*="highlight"] .p, [class*="highlight"] .pi {
  color: #d0d0d0;
}
[class*="highlight"] .gi {
  color: #90a959;
}
[class*="highlight"] .gd {
  color: #ac4142;
}
[class*="highlight"] .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
[class*="highlight"] .k, [class*="highlight"] .kn, [class*="highlight"] .kp, [class*="highlight"] .kr, [class*="highlight"] .kv {
  color: #aa759f;
}
[class*="highlight"] .kc {
  color: #d28445;
}
[class*="highlight"] .kt {
  color: #d28445;
}
[class*="highlight"] .kd {
  color: #d28445;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .sc, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .sx, [class*="highlight"] .s1 {
  color: #90a959;
}
[class*="highlight"] .sr {
  color: #75b5aa;
}
[class*="highlight"] .si {
  color: #8f5536;
}
[class*="highlight"] .se {
  color: #8f5536;
}
[class*="highlight"] .nn {
  color: #f4bf75;
}
[class*="highlight"] .nc {
  color: #f4bf75;
}
[class*="highlight"] .no {
  color: #f4bf75;
}
[class*="highlight"] .na {
  color: #6a9fb5;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mf, [class*="highlight"] .mh, [class*="highlight"] .mi, [class*="highlight"] .il, [class*="highlight"] .mo, [class*="highlight"] .mx {
  color: #90a959;
}
[class*="highlight"] .ss {
  color: #90a959;
}
