[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"], [class*="highlight"] .w {
  color: #000000;
  background-color: #ffffff;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1, [class*="highlight"] .cs {
  font-style: italic;
}
[class*="highlight"] .cp {
}
[class*="highlight"] .k, [class*="highlight"] .kc, [class*="highlight"] .kd, [class*="highlight"] .kn, [class*="highlight"] .kr, [class*="highlight"] .kv {
  font-weight: bold;
}
[class*="highlight"] .kp {
}
[class*="highlight"] .kt {
}
[class*="highlight"] .o, [class*="highlight"] .ow {
  font-weight: bold;
}
[class*="highlight"] .nc {
  font-weight: bold;
}
[class*="highlight"] .nn {
  font-weight: bold;
}
[class*="highlight"] .ne {
  font-weight: bold;
}
[class*="highlight"] .ni {
  font-weight: bold;
}
[class*="highlight"] .nt {
  font-weight: bold;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .sc, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .sx, [class*="highlight"] .sr, [class*="highlight"] .s1, [class*="highlight"] .ss {
  font-style: italic;
}
[class*="highlight"] .si {
  font-weight: bold;
}
[class*="highlight"] .se {
  font-weight: bold;
}
[class*="highlight"] .gh {
  font-weight: bold;
}
[class*="highlight"] .gu {
  font-weight: bold;
}
[class*="highlight"] .ge {
  font-style: italic;
}
[class*="highlight"] .gs {
  font-weight: bold;
}
[class*="highlight"] .gp {
  font-weight: bold;
}
[class*="highlight"] .err {
  color: #FF0000;
}
