[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"], [class*="highlight"] .w {
  color: #bbbbbb;
  background-color: #000;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1 {
  color: #888;
}
[class*="highlight"] .cp {
  color: #579;
}
[class*="highlight"] .cs {
  color: #cc0000;
  font-weight: bold;
}
[class*="highlight"] .k, [class*="highlight"] .kc, [class*="highlight"] .kd, [class*="highlight"] .kn, [class*="highlight"] .kr, [class*="highlight"] .kv {
  color: #080;
  font-weight: bold;
}
[class*="highlight"] .kp {
  color: #038;
}
[class*="highlight"] .kt {
  color: #339;
}
[class*="highlight"] .o {
  color: #333;
}
[class*="highlight"] .ow {
  color: #000;
  font-weight: bold;
}
[class*="highlight"] .nb, [class*="highlight"] .bp {
  color: #007020;
}
[class*="highlight"] .nf, [class*="highlight"] .fm {
  color: #06B;
  font-weight: bold;
}
[class*="highlight"] .nc {
  color: #B06;
  font-weight: bold;
}
[class*="highlight"] .nn {
  color: #0e84b5;
  font-weight: bold;
}
[class*="highlight"] .ne {
  color: #F00;
  font-weight: bold;
}
[class*="highlight"] .nv, [class*="highlight"] .vm {
  color: #963;
}
[class*="highlight"] .vi {
  color: #33B;
}
[class*="highlight"] .vc {
  color: #369;
}
[class*="highlight"] .vg {
  color: #d70;
  font-weight: bold;
}
[class*="highlight"] .no {
  color: #036;
  font-weight: bold;
}
[class*="highlight"] .nl {
  color: #970;
  font-weight: bold;
}
[class*="highlight"] .ni {
  color: #800;
  font-weight: bold;
}
[class*="highlight"] .na {
  color: #00C;
}
[class*="highlight"] .nt {
  color: #070;
}
[class*="highlight"] .nd {
  color: #555;
  font-weight: bold;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .dl, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .s1 {
  background-color: #fff0f0;
}
[class*="highlight"] .sc {
  color: #04D;
}
[class*="highlight"] .sd {
  color: #D42;
}
[class*="highlight"] .si {
  background-color: #eee;
}
[class*="highlight"] .se {
  color: #666;
  font-weight: bold;
}
[class*="highlight"] .sr {
  color: #000;
  background-color: #fff0ff;
}
[class*="highlight"] .ss {
  color: #A60;
}
[class*="highlight"] .sx {
  color: #D20;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mx {
  color: #60E;
  font-weight: bold;
}
[class*="highlight"] .mi, [class*="highlight"] .il {
  color: #00D;
  font-weight: bold;
}
[class*="highlight"] .mf {
  color: #60E;
  font-weight: bold;
}
[class*="highlight"] .mh {
  color: #058;
  font-weight: bold;
}
[class*="highlight"] .mo {
  color: #40E;
  font-weight: bold;
}
[class*="highlight"] .gh {
  color: #000080;
  font-weight: bold;
}
[class*="highlight"] .gu {
  color: #800080;
  font-weight: bold;
}
[class*="highlight"] .gd {
  color: #A00000;
}
[class*="highlight"] .gi {
  color: #00A000;
}
[class*="highlight"] .gr {
  color: #FF0000;
}
[class*="highlight"] .ge {
  font-style: italic;
}
[class*="highlight"] .gs {
  font-weight: bold;
}
[class*="highlight"] .gp {
  color: #c65d09;
  font-weight: bold;
}
[class*="highlight"] .go {
  color: #888;
}
[class*="highlight"] .gt {
  color: #04D;
}
[class*="highlight"] .err {
  color: #F00;
  background-color: #FAA;
}
