[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"], [class*="highlight"] .w {
  color: #282828;
  background-color: #fbf1c7;
}
[class*="highlight"] .err {
  color: #9d0006;
  background-color: #fbf1c7;
  font-weight: bold;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1, [class*="highlight"] .cs {
  color: #928374;
  font-style: italic;
}
[class*="highlight"] .cp {
  color: #427b58;
}
[class*="highlight"] .nt {
  color: #9d0006;
}
[class*="highlight"] .o, [class*="highlight"] .ow {
  color: #282828;
}
[class*="highlight"] .p, [class*="highlight"] .pi {
  color: #282828;
}
[class*="highlight"] .gi {
  color: #79740e;
  background-color: #fbf1c7;
}
[class*="highlight"] .gd {
  color: #9d0006;
  background-color: #fbf1c7;
}
[class*="highlight"] .gh {
  color: #79740e;
  font-weight: bold;
}
[class*="highlight"] .k, [class*="highlight"] .kn, [class*="highlight"] .kp, [class*="highlight"] .kr, [class*="highlight"] .kv {
  color: #9d0006;
}
[class*="highlight"] .kc {
  color: #8f3f71;
}
[class*="highlight"] .kt {
  color: #b57614;
}
[class*="highlight"] .kd {
  color: #af3a03;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .sc, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .sx, [class*="highlight"] .s1 {
  color: #79740e;
  font-style: italic;
}
[class*="highlight"] .si {
  color: #79740e;
  font-style: italic;
}
[class*="highlight"] .sr {
  color: #79740e;
  font-style: italic;
}
[class*="highlight"] .se {
  color: #af3a03;
}
[class*="highlight"] .nn {
  color: #427b58;
}
[class*="highlight"] .nc {
  color: #427b58;
}
[class*="highlight"] .no {
  color: #8f3f71;
}
[class*="highlight"] .na {
  color: #79740e;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mf, [class*="highlight"] .mh, [class*="highlight"] .mi, [class*="highlight"] .il, [class*="highlight"] .mo, [class*="highlight"] .mx {
  color: #8f3f71;
}
[class*="highlight"] .ss {
  color: #076678;
}
