[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"], [class*="highlight"] .w {
  color: #444444;
}
[class*="highlight"] .cp {
  color: #CC00A3;
}
[class*="highlight"] .cs {
  color: #CC00A3;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1 {
  color: #FF0000;
}
[class*="highlight"] .kc {
  color: #C34E00;
}
[class*="highlight"] .kd {
  color: #0000FF;
}
[class*="highlight"] .kr {
  color: #007575;
}
[class*="highlight"] .k, [class*="highlight"] .kn, [class*="highlight"] .kp, [class*="highlight"] .kt, [class*="highlight"] .kv {
  color: #0000FF;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .sc, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .se, [class*="highlight"] .sh, [class*="highlight"] .si, [class*="highlight"] .sx, [class*="highlight"] .sr, [class*="highlight"] .s1, [class*="highlight"] .ss {
  color: #009C00;
}
[class*="highlight"] .nb, [class*="highlight"] .bp {
  color: #C34E00;
}
