[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"] {
  color: #000707;
  background-color: #f3ffff;
}
[class*="highlight"] .gl {
  color: #f3ffff;
  background-color: #000707;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1, [class*="highlight"] .cs {
  color: #006c6c;
  font-style: italic;
}
[class*="highlight"] .cp {
  color: #920241;
  font-weight: bold;
}
[class*="highlight"] .err {
  color: #f3ffff;
  background-color: #f22700;
}
[class*="highlight"] .gr {
  color: #f22700;
  font-weight: bold;
  font-style: italic;
}
[class*="highlight"] .k, [class*="highlight"] .kd, [class*="highlight"] .kv {
  color: #19003a;
  font-weight: bold;
}
[class*="highlight"] .o, [class*="highlight"] .ow {
  color: #4c48fe;
  font-weight: bold;
}
[class*="highlight"] .p, [class*="highlight"] .pi {
  color: #4c48fe;
}
[class*="highlight"] .gd {
  color: #f22700;
}
[class*="highlight"] .gi {
  color: #007500;
}
[class*="highlight"] .ge {
  font-style: italic;
}
[class*="highlight"] .gs {
  font-weight: bold;
}
[class*="highlight"] .gt {
  color: #000000;
  background-color: #d8d9ff;
}
[class*="highlight"] .kc {
  color: #007500;
  font-weight: bold;
}
[class*="highlight"] .kn {
  color: #007500;
  font-weight: bold;
}
[class*="highlight"] .kp {
  color: #007500;
  font-weight: bold;
}
[class*="highlight"] .kr {
  color: #007500;
  font-weight: bold;
}
[class*="highlight"] .gh {
  color: #007500;
  font-weight: bold;
}
[class*="highlight"] .gu {
  color: #007500;
  font-weight: bold;
}
[class*="highlight"] .kt {
  color: #920241;
  font-weight: bold;
}
[class*="highlight"] .no {
  color: #920241;
  font-weight: bold;
}
[class*="highlight"] .nc {
  color: #920241;
  font-weight: bold;
}
[class*="highlight"] .nd {
  color: #920241;
  font-weight: bold;
}
[class*="highlight"] .nn {
  color: #920241;
  font-weight: bold;
}
[class*="highlight"] .bp {
  color: #920241;
  font-weight: bold;
}
[class*="highlight"] .ne {
  color: #920241;
  font-weight: bold;
}
[class*="highlight"] .nl {
  color: #840084;
  font-weight: bold;
}
[class*="highlight"] .nt {
  color: #840084;
  font-weight: bold;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mf, [class*="highlight"] .mh, [class*="highlight"] .mi, [class*="highlight"] .il, [class*="highlight"] .mo, [class*="highlight"] .mx {
  color: #007500;
  font-weight: bold;
}
[class*="highlight"] .ld {
  color: #007500;
  font-weight: bold;
}
[class*="highlight"] .ss {
  color: #007500;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .sx, [class*="highlight"] .sr, [class*="highlight"] .s1 {
  color: #7c0000;
  font-weight: bold;
}
[class*="highlight"] .se {
  color: #840084;
  font-weight: bold;
}
[class*="highlight"] .sc {
  color: #840084;
  font-weight: bold;
}
[class*="highlight"] .si {
  color: #840084;
  font-weight: bold;
}
[class*="highlight"] .nb {
  font-weight: bold;
}
[class*="highlight"] .ni {
  color: #999999;
  font-weight: bold;
}
[class*="highlight"] .w {
  color: #BBBBBB;
}
[class*="highlight"] .go {
  color: #19003a;
}
[class*="highlight"] .nf, [class*="highlight"] .fm {
  color: #ff0089;
}
[class*="highlight"] .py {
  color: #ff0089;
}
[class*="highlight"] .na {
  color: #ff0089;
}
[class*="highlight"] .nv, [class*="highlight"] .vc, [class*="highlight"] .vg, [class*="highlight"] .vi, [class*="highlight"] .vm {
  color: #ff0089;
  font-weight: bold;
}
