[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"] .gh {
  color: #999999;
}
[class*="highlight"] .sr {
  color: #f6aa11;
}
[class*="highlight"] .go {
  color: #888888;
}
[class*="highlight"] .gp {
  color: #555555;
}
[class*="highlight"] .gs {
}
[class*="highlight"] .gu {
  color: #aaaaaa;
}
[class*="highlight"] .nb {
  color: #f6aa11;
}
[class*="highlight"] .cm {
  color: #75715e;
}
[class*="highlight"] .cp {
  color: #75715e;
}
[class*="highlight"] .c1 {
  color: #75715e;
}
[class*="highlight"] .cs {
  color: #75715e;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cpf {
  color: #75715e;
}
[class*="highlight"] .err {
  color: #960050;
}
[class*="highlight"] .gr {
  color: #960050;
}
[class*="highlight"] .gt {
  color: #960050;
}
[class*="highlight"] .gd {
  color: #49483e;
}
[class*="highlight"] .gi {
  color: #49483e;
}
[class*="highlight"] .ge {
  color: #49483e;
}
[class*="highlight"] .kc {
  color: #66d9ef;
}
[class*="highlight"] .kd {
  color: #66d9ef;
}
[class*="highlight"] .kr {
  color: #66d9ef;
}
[class*="highlight"] .no {
  color: #66d9ef;
}
[class*="highlight"] .kt {
  color: #66d9ef;
}
[class*="highlight"] .mf {
  color: #ae81ff;
}
[class*="highlight"] .mh {
  color: #ae81ff;
}
[class*="highlight"] .il {
  color: #ae81ff;
}
[class*="highlight"] .mi {
  color: #ae81ff;
}
[class*="highlight"] .mo {
  color: #ae81ff;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mx {
  color: #ae81ff;
}
[class*="highlight"] .sc {
  color: #ae81ff;
}
[class*="highlight"] .se {
  color: #ae81ff;
}
[class*="highlight"] .ss {
  color: #ae81ff;
}
[class*="highlight"] .sd {
  color: #e6db74;
}
[class*="highlight"] .s2 {
  color: #e6db74;
}
[class*="highlight"] .sb {
  color: #e6db74;
}
[class*="highlight"] .sh {
  color: #e6db74;
}
[class*="highlight"] .si {
  color: #e6db74;
}
[class*="highlight"] .sx {
  color: #e6db74;
}
[class*="highlight"] .s1 {
  color: #e6db74;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .dl {
  color: #e6db74;
}
[class*="highlight"] .na {
  color: #a6e22e;
}
[class*="highlight"] .nc {
  color: #a6e22e;
}
[class*="highlight"] .nd {
  color: #a6e22e;
}
[class*="highlight"] .ne {
  color: #a6e22e;
}
[class*="highlight"] .nf, [class*="highlight"] .fm {
  color: #a6e22e;
}
[class*="highlight"] .vc {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .nn {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .nl {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .ni {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .bp {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .vg {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .vi {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .nv, [class*="highlight"] .vm {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .w {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .n, [class*="highlight"] .py, [class*="highlight"] .nx {
  color: #ffffff;
  background-color: #272822;
}
[class*="highlight"] .ow {
  color: #f92672;
}
[class*="highlight"] .nt {
  color: #f92672;
}
[class*="highlight"] .k, [class*="highlight"] .kv {
  color: #f92672;
}
[class*="highlight"] .kn {
  color: #f92672;
}
[class*="highlight"] .kp {
  color: #f92672;
}
[class*="highlight"] .o {
  color: #f92672;
}
