[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1 {
  color: #888888;
}
[class*="highlight"] .cp {
  color: #cc0000;
  font-weight: bold;
}
[class*="highlight"] .cs {
  color: #cc0000;
  background-color: #fff0f0;
  font-weight: bold;
}
[class*="highlight"] .err {
  color: #a61717;
  background-color: #e3d2d2;
}
[class*="highlight"] .gr {
  color: #aa0000;
}
[class*="highlight"] .gh {
  color: #333333;
}
[class*="highlight"] .gu {
  color: #666666;
}
[class*="highlight"] .gd {
  color: #000000;
  background-color: #ffdddd;
}
[class*="highlight"] .gi {
  color: #000000;
  background-color: #ddffdd;
}
[class*="highlight"] .ge {
  font-style: italic;
}
[class*="highlight"] .gs {
  font-weight: bold;
}
[class*="highlight"] .gl {
  color: #888888;
}
[class*="highlight"] .go {
  color: #888888;
}
[class*="highlight"] .gp {
  color: #555555;
}
[class*="highlight"] .gt {
  color: #aa0000;
}
[class*="highlight"] .k, [class*="highlight"] .kc, [class*="highlight"] .kd, [class*="highlight"] .kn, [class*="highlight"] .kr, [class*="highlight"] .kv {
  color: #008800;
  font-weight: bold;
}
[class*="highlight"] .kp {
  color: #008800;
}
[class*="highlight"] .kt {
  color: #888888;
  font-weight: bold;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mf, [class*="highlight"] .mh, [class*="highlight"] .mi, [class*="highlight"] .il, [class*="highlight"] .mo, [class*="highlight"] .mx {
  color: #0000dd;
  font-weight: bold;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .sc, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
[class*="highlight"] .se {
  color: #0044dd;
  background-color: #fff0f0;
}
[class*="highlight"] .si {
  color: #3333bb;
  background-color: #fff0f0;
}
[class*="highlight"] .sx {
  color: #22bb22;
  background-color: #f0fff0;
}
[class*="highlight"] .sr {
  color: #008800;
}
[class*="highlight"] .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
[class*="highlight"] .na {
  color: #336699;
}
[class*="highlight"] .nb, [class*="highlight"] .bp {
  color: #003388;
}
[class*="highlight"] .nc {
  color: #bb0066;
  font-weight: bold;
}
[class*="highlight"] .no {
  color: #003366;
  font-weight: bold;
}
[class*="highlight"] .nd {
  color: #555555;
}
[class*="highlight"] .ne {
  color: #bb0066;
  font-weight: bold;
}
[class*="highlight"] .nf, [class*="highlight"] .fm {
  color: #0066bb;
  font-weight: bold;
}
[class*="highlight"] .nl {
  color: #336699;
}
[class*="highlight"] .nn {
  color: #bb0066;
  font-weight: bold;
}
[class*="highlight"] .py {
  color: #336699;
  font-weight: bold;
}
[class*="highlight"] .nt {
  color: #bb0066;
  font-weight: bold;
}
[class*="highlight"] .nv, [class*="highlight"] .vc, [class*="highlight"] .vm {
  color: #336699;
}
[class*="highlight"] .vg {
  color: #dd7700;
}
[class*="highlight"] .vi {
  color: #3333bb;
}
[class*="highlight"] .ow {
  color: #008800;
}
[class*="highlight"] .w {
  color: #bbbbbb;
}
