[class*="highlight"] table td { padding: 5px; }
[class*="highlight"] table pre { margin: 0; }
[class*="highlight"] {
  color: #FFFFFF;
  background-color: #231529;
}
[class*="highlight"] .c, [class*="highlight"] .ch, [class*="highlight"] .cd, [class*="highlight"] .cm, [class*="highlight"] .cpf, [class*="highlight"] .c1, [class*="highlight"] .cs {
  color: #6D6E70;
  font-style: italic;
}
[class*="highlight"] .cp {
  color: #41ff5b;
  font-weight: bold;
}
[class*="highlight"] .err {
  color: #FFFFFF;
  background-color: #CC0000;
}
[class*="highlight"] .gr {
  color: #FFFFFF;
  background-color: #CC0000;
}
[class*="highlight"] .k, [class*="highlight"] .kd, [class*="highlight"] .kv {
  color: #FFF02A;
  font-weight: bold;
}
[class*="highlight"] .o, [class*="highlight"] .ow {
  color: #41ff5b;
}
[class*="highlight"] .p, [class*="highlight"] .pi {
  color: #41ff5b;
}
[class*="highlight"] .gd {
  color: #CC0000;
}
[class*="highlight"] .gi {
  color: #3FB34F;
}
[class*="highlight"] .ge {
  font-style: italic;
}
[class*="highlight"] .gs {
  font-weight: bold;
}
[class*="highlight"] .gt {
  color: #FFFFFF;
  background-color: #766DAF;
}
[class*="highlight"] .gl {
  color: #FFFFFF;
  background-color: #766DAF;
}
[class*="highlight"] .kc {
  color: #9f93e6;
  font-weight: bold;
}
[class*="highlight"] .kn {
  color: #FFFFFF;
  font-weight: bold;
}
[class*="highlight"] .kp {
  color: #FFFFFF;
  font-weight: bold;
}
[class*="highlight"] .kr {
  color: #FFFFFF;
  font-weight: bold;
}
[class*="highlight"] .gh {
  color: #FFFFFF;
  font-weight: bold;
}
[class*="highlight"] .gu {
  color: #FFFFFF;
  font-weight: bold;
}
[class*="highlight"] .kt {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .no {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .nc {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .nd {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .nn {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .bp {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .ne {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .nl {
  color: #9f93e6;
  font-weight: bold;
}
[class*="highlight"] .nt {
  color: #9f93e6;
  font-weight: bold;
}
[class*="highlight"] .m, [class*="highlight"] .mb, [class*="highlight"] .mf, [class*="highlight"] .mh, [class*="highlight"] .mi, [class*="highlight"] .il, [class*="highlight"] .mo, [class*="highlight"] .mx {
  color: #9f93e6;
  font-weight: bold;
}
[class*="highlight"] .ld {
  color: #9f93e6;
  font-weight: bold;
}
[class*="highlight"] .ss {
  color: #9f93e6;
  font-weight: bold;
}
[class*="highlight"] .s, [class*="highlight"] .sa, [class*="highlight"] .sb, [class*="highlight"] .dl, [class*="highlight"] .sd, [class*="highlight"] .s2, [class*="highlight"] .sh, [class*="highlight"] .sx, [class*="highlight"] .sr, [class*="highlight"] .s1 {
  color: #fff0a6;
  font-weight: bold;
}
[class*="highlight"] .se {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .sc {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .si {
  color: #FAAF4C;
  font-weight: bold;
}
[class*="highlight"] .nb {
  font-weight: bold;
}
[class*="highlight"] .ni {
  color: #999999;
  font-weight: bold;
}
[class*="highlight"] .w {
  color: #BBBBBB;
}
[class*="highlight"] .nf, [class*="highlight"] .fm {
  color: #41ff5b;
}
[class*="highlight"] .py {
  color: #41ff5b;
}
[class*="highlight"] .na {
  color: #41ff5b;
}
[class*="highlight"] .nv, [class*="highlight"] .vc, [class*="highlight"] .vg, [class*="highlight"] .vi, [class*="highlight"] .vm {
  color: #41ff5b;
  font-weight: bold;
}
